/target/
*/target/*
*/*/target/*

*.jar
*.war

**/**/.DS_Store
**/*/.DS_Store


.idea/
*/.idea/
*.iml

.metadata/*
*/.svn/*
*.log
*.project
*.classpath
**/.classpath

out/*
target/
.settings
/*/.settings/
XXX-controller/src/main/resources/config.properties
bin/
.bin
/*/bin/